@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
}


/* manu */
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 26px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    transition: 0,6s;
    box-shadow: #000 0px 4px 9px 0px;
}

h1{
    color: #000;
    font-size: 45px;
}

ul li {
    display: inline-block;
    padding: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 0);
}



/* fin menu */





.banner{
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    
}

.tarjeta{
    width: 100%;
    display: flex;
    max-width: 1100px;

    text-align: center;
}

.card{
    width: 100%; 
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 5px;
}

.col{
    text-align: center;
    align-items: center;
    
     width: 500px;
     padding: 20px;
     height: 700px;
    
}






#Servicios{
    /* margin-top: 20%; */
    background-color: rgb(175, 40, 40);
    height: 1500px;
    padding-left: 12%;
    
}


.mensaje{
    border-style: solid black;
}

#Sobre-nosotros{
    margin-top: 0%;
    background-color: rgb(34, 31, 31);
    height: 500px;
}

.sobre-nos{
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    padding-top: 7%;
}

.contactos-t{
    color: rgb(255, 255, 255);
}

.contactos ul li{
    position: relative;
    top: 30%;
}




#Contacto{
    padding: 2%;
    background-color: rgb(175, 40, 40);
    height: 200px;
}


.modo{
    position: relative;
    left:90%;
}








/* responsive */


@media (max-width: 768px){


    h1{
        padding: 0;
    }

    ul li{
        display: block;
    }



    #Servicios{
        display: block;
        text-align: center;
        height: 3000px;
        
    }


    .banner{
        height: 288px;
    } 

    #Sobre-nosotros{
        height: 880px;
    }


    #Contacto{
        height: 230px;
    }

    .parrafo{
        padding: 20%;
        
    }






}